@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import "tailwindcss";

[x-cloak] {
  display: none !important;
}

body {
  font-family: 'Kode Mono', monospace;
}

a {
  text-decoration: none;
}

.link-active {
  color: #000;
  font-weight: bold;
}